.carousel {
    height: 500px;
    width: 1000px;
    overflow: hidden;
}

.carousel-item-img {
    height: auto;
    width: 100%;
}

.contestant-card-outer {
    height: 300px;
    width: 800px;
    border: 1px purple solid;
}

.contestant-card-img {
    width: 100px;
    height: 100px;;
    overflow: hidden;
}

.like-button {
    position: absolute;
    background: transparent;
    border: none;
    color: grey;
    outline: none;
}

.like-button:hover {
    color: red;
}

.clicked-button {
    color: red;
}